<div class="row">
  <h2>Experiment: <%= @experiment %> - Session: <%= @session %></h2>
  <h3><%= link_to "Download CSV", :action => "download_session_csv", :experiment => @experiment, :session => @session %></h3>

<table class="table table-striped table-hover">
    <thead>
    <tr>
      <td>Time</td>
      <td>Experiment</td>
      <td>Session</td>
      <td>Recording</td>
    </tr>
    </thead>
    <tbody>
    <% for recording in @recordings %>
    <tr>
      <td><%= recording.updated_at %></td>
      <td><%= recording.experiment %></td>
      <td><%= recording.session %></td>
      <td><%= recording.parameters %></td>
    </tr>
    <% end %>
    </tbody>
</table>

</div>